<!DOCTYPE html>
<html>
<head>
 <title>CRUD</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style/bootstrap.min.css">
  <script src="style/jquery.min.js"></script>
  <script src="style/popper.min.js"></script>
  <script src="style/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.php">PHP CRUD OPERATION</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.php">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="job.php"><span style="font-size:larger;">Job List</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
 <div class="col-lg-6 m-auto">
 
 <form method="post">
 
 <br><br><div class="card">
 
 <div class="card-header bg-primary">
 <h1 class="text-white text-center">  DATA_TITLE Member </h1>
 </div><br>
 <input type="hidden" name="id" value="GET_ID"class="form-control" > <br>
 <label> NAME : </label>
 <input type="text" name="name" class="form-control" value="DATA_NAME"> <br>

 <label> EMAIL : </label>
 <input type="text" name="email" class="form-control" value="DATA_EMAIL"> <br>

 <label> PHONE : </label>
 <input type="text" name="phone" class="form-control" value="DATA_PHONE"> <br>

 <label> JOIN DATE : </label>
 <input type="date" name="join_date" class="form-control" value="DATA_JOINDATE"> <br>

 <label> JOB : </label>
 <select  name="id_job" class="form-select" placeholder="-- SELECT JOB NAME -- " required>
  <option>-- SELECT JOB NAME --</option>
  OPTION
</select> <br>

 <button class="btn btn-success" type="submit" name="DATA_BUTTON"> Submit </button><br>
 <a class="btn btn-info" type="submit" name="cancel" href="index.php"> Cancel </a><br>

 </div>
 </form>
 </div>
</body>
</html>